<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>hhh</h1>

<!--  -<p th:text="+${greeting.id}"></p>-->





  <p th:text="'Name ;' + ${patientdetails.title}"></p>
<p th:text="'new PatientName ;' + ${patientdetails.newPatientName}"></p>
<p th:text="'LastName;' + ${patientdetails.lastName}"></p>
<p th:text="'country;' + ${patientdetails.country}"></p>  



</body>
</html>